 * {
     margin: 0px;
     padding: 0px;
 }

 .container-fluid {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .container {
     max-width: 1150px;
     width: 100%;
     /* height: 50px; */
     /* background-color: rgb(0, 0, 0, 6); */
 }

 .title {
     text-align: center;
     margin-bottom: 30px;
 }

 .header {
     /* height: 70px; */
     background-color: rgba(0, 0, 0, 6);
     font-family: segoe UI;
     color: bisque;
     position: fixed;
     top: 0px;
     z-index: 99;
 }

 .header-container {
     height: 70px;
     /* background-color: blue; */
     display: flex;
     justify-content: space-between;
 }

 .logo {
     height: 70px;
     width: 15%;
     /* background-color: yellow; */
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .navigation {
     width: 50%;
     height: 70px;
     /* justify-content: space-between; */
     /* background-color: brown; */
     /* display: flex; */
 }

 .logo_title {
     font-size: 35px;
     text-transform: uppercase;
     color: aliceblue;
 }

 .header-btn {
     border: 1px solid coral;
     color: #e07e22;
     padding: 6px 15px;
     font-size: 17px;
     border-radius: 5px;
     background-color: transparent;
 }

 .header-btn:hover {
     border: 1px solid #e07e22;
     background-color: #e07e22;
     color: wheat;
 }

 .logo_title>span {
     color: #14bb19;
 }

 .navigation>ul {
     /* width: 100%; */
     list-style-type: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 70px;
 }

 .banner {
     height: 700px;
     width: 100%;
     background-color: #14bb19;
     background-image: url('./images/img3.jpg');
     background-size: cover;
     background-position: top;
     /* margin-top: -50px; */
     /* background-position-x: -px; */
     background-repeat: no-repeat;
     position: relative;
     overflow: hidden;
     display: flex;
     justify-content: flex-end;


 }

 .banner-container {
     height: 300px;
     width: 47%;

 }

 .banner-info {
     height: 300px;
     /* background-color: red; */
     width: 47%;
     /* background-color: transparent; */
     position: absolute;
     z-index: 101;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;


 }

 .banner-info>h1 {
     font-size: 40px;
     font-family: Courier New;
     font-weight: 400;
     text-transform: uppercase;
     right: 0px;
     justify-content: center;
     align-items: center;

 }

 .banner-btn {
     border: 1 px solid wheat;
     background-color: transparent;
     padding: 15px 30px;
     color: white;
     font-size: 16px;
     margin-top: 20px;
     cursor: pointer;
     border-radius: 10px;
     position: relative;
     right: 4px;
     justify-content: center;
     align-items: center;


 }

 .banner-btn:hover {
     border: 1px solod #14bb19;
     background-color: #14bb19;

 }

 .banner-bg {
     width: 47%;
     height: 700px;
     background-color: orange;
     position: absolute;
     /* margin-right: -20px; */
     right: 0px;
     z-index: 1;
     transform: rotateZ(60deg);
 }






 .product-container {
     /* height: 500px; */
     /* width: 80%; */
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .product-container>h1 {
     text-align: center !important;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 200;
     color: black;
     font-size: 40px;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 20px;
     margin-top: 15px;


 }

 .card-container {
     width: 100%;
     /* background-color: green; */
     display: flex;
     justify-content: space-between;
     /* align-items: center;  */
     flex-wrap: wrap;
     row-gap: 30px;
 }

 .items {
     height: 400px;
     width: 22% !important;
     /* background-color: blue; */
     padding-top: 0%;
     margin-top: 0%;
     display: flex;
     align-items: flex-end;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .items:nth-child(1) {
     background-image: url('./images/img9.jpg');
 }

 .items:nth-child(2) {
     background-image: url('./images/img10.jpg');
 }

 .items:nth-child(3) {
     background-image: url('./images/img11.jpg');
 }

 .items:nth-child(4) {
     background-image: url('./images/img12.jpg');
 }

 .items:nth-child(5) {
     background-image: url('./images/img13.jpg');
 }


 .items:nth-child(6) {
     background-image: url('./images/img14.jpg');
 }

 .items:nth-child(7) {
     background-image: url('./images/img15.jpg');
 }

 .items:nth-child(8) {
     background-image: url('./images/img16.jpg');
 }


 .trending {
     height: 500px;
     width: 100%;
     background-color:rgb(110, 88, 88);
     display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px !important;
    margin-bottom: 0px;
    overflow: hidden
 }
.gallery{
    height: 450px;
    width: 80%;
    background-color: green;
    display: flex;  
    justify-items:center ;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    transition: .5s;
}
.gal_image{
    height: 450px;
    width: 27%;
    background-color: chartreuse;
    overflow: hidden;
    display: flex;
    justify-content: center;
     align-items: center;
}
.imgage{
    height: 450px;
    width:100%;
}
.form {
    height: 500px;
    width: 100%;
    /* background-color: red; */
    margin-top: 0px;;
}
.form-container{
    height: 70vh;
    width: 100%;
    background-color: rgba(27, 23, 23, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px;
}
.form-container>h1 {
    text-align: center !important;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    position: top;
    color: blue;
}
.form_input{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
     margin-top: 50px;
    box-sizing:  sizing 30px;;
    row-gap: 20px;

}
.form_input>h3{
    text-align:center;
    color: blue;
    font-size:30px;
    display: flex;
    flex-direction: row;
    /* color:whitesmoke; */
    display: block;
}
.small{
    display: block;
    display: flex;
    /* flex-direction:row; */
}

.footer{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    background-color: black;

}
.footer_container{
     height: 400px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.foot_item {
    height: 400px;
    width: 30%;
    /* background-color: green; */
    margin-top: 20px;
}

.foot_item>h1 {
    margin-bottom: 10px;
}

.foot_item>p {
    color: #efefef;
    text-align: justify;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.foot_item>a {
    text-decoration: none;
    color: pink;
}
.social_icon {
    height: 50px;
    width: 45%;
    /* background-color: #e07e22; */
    /* margin-left: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.icons {
    height: 45px;
    width: 45px;
    tab-size: 20px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid c9c9c9;
    cursor: pointer;
    color: #c9c9c9;
}

.icons:hover {
    border: 1px solid c9c9c9;
    background-color: #c9c9c9;
    color: black;
}

.icons>i {

    font-size: 25px;

}

.footer_title {
    font-size: 25px;
    color: #ededed;
    margin-bottom: 10px;
}

.foot_item>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    font-size: 19px;
}

.foot_item>ul>li {
    color: #a6a6a6;
    cursor: pointer;
}

.map {
    height: 200px;
    width:
     95%;
}

.slider {
    height: 93px;
    width: 40px;
    background-color: red;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: fixed;
    top: 500px;
    z-index: 99;
    row-gap: 5px;
}

.slider_item {
    height: 26px;
    width: 40px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    row-gap: 5px;
    padding-top: 5px;
    border: 1px solid c9c9c9;
    cursor: pointer;
    border-radius: 50%;
}

.slider_item:hover {
    color: black;
    border: 1px solid c9c9c9;
    background-color: #c9c9c9;
    color: black;
}
